.popup__button-save {
    width: 100%;
    height: 25%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 14%;
    cursor: pointer;
}

@media screen and (max-width:321px) {
    .popup__button-save {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 18%;
        height: 48px;
    }
}

.popup__button-save:hover {
    opacity: .6;
}