.profile__button-edit{
    background-image: url(../../../images/pancil-profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    background-color: inherit;
    width: 24px;
    height: 24px;
    cursor: pointer;
}