.profile__button-edit {
    background-image: url(../../../images/pancil-profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    background-color: inherit;
    width: 24px;
    height: 24px;
    cursor: pointer;
    right: 0px;
    top: 37px;
}

@media screen and (max-width:321px) {
    .profile__button-edit {
        position: absolute;
        top: 8px;
        right: -27px;
        width: 18px;
        height: 18px;
    }
}

.profile__button-edit:hover {
    opacity: .6;
}