.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 38px;
    align-items: center;
}

@media screen and (max-width:598px) {
    .profile {
        flex-direction: column;
        padding-top: 45px;
    }
}