.header__logo {
    max-width: 176px;
    max-height: 52px;
    padding-top: 45px;
    margin: 0;
}

@media screen and (max-width:321px) {
    .header__logo {
        width: 104px;
        height: 24px;
        padding-top: 28px;
        padding-left: 27px;
    }
}