.header__logo {
    max-width: 176px;
    margin: 0;
    grid-row: 2;
}

@media screen and (max-width:321px) {
    .header__logo {
        width: 104px;
        height: 24px;
        padding-left: 27px;
    }
}