.elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 51px;
    row-gap: 20px;
    column-gap: 17px;
    justify-content: space-evenly;
}

@media screen and (max-width:321px) {
    .elements {
        padding-top: 37px;
    }
}