.profile__content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 336px;
    gap: 18px;
    justify-content: space-between;
}

@media screen and (max-width:598px) {
    .profile__content {
        position: relative;
    }
}