.profile__input {
    display: flex;
    max-width: 294px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width:597px) {
    .profile__input {
        justify-content: center;
    }
}

@media screen and (max-width:310px) {
    .profile__input {
        max-width: 59vw;
    }
}