.popup__input-text {
    width: 100%;
    margin: 0;
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-left: 0px;
    line-height: 30px;
    margin-top: 9%;
    outline: none;
}

@media screen and (max-width:321px) {
    .popup__input-text {
        margin-top: 5%;
    }
}