.profile__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width:597px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

@media screen and (max-width:321px) {
    .profile__info {
        gap: 25px;
    }
}