.element {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;

    position: relative;


    max-width: 282px ;
}

@media screen and (max-width:1023px) {
    .element {
        max-width: 30%;
    }
}

@media screen and (max-width:767px) {
    .element {
        max-width: 282px;
    }
}