.profile__input-about-me {
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:321px) {
    .profile__input-about-me {
        font-size: 14px;
        line-height: 17px;
        text-align: center;      
    }
}